*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-header {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.site-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.site-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.site-nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0rem 1.5rem;
}

.site-nav a:hover {
    color: #7c7c7c;
}

.site-nav a:hover svg {
    fill: #7c7c7c;
}

.site-nav svg {
    fill: #fff;
}

.logo {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

main {
    height: 100vh;
}

.landing-section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: #89c6e1;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    transform: translateY(280%);
}

.bg-img {
    position: absolute;
    width: 145.83%;
    top: 61.11%;
    left: 50%;
    z-index: 1;
}

.background-fog-2 {
    position: absolute;
    width: 145.83%;
    top: 56.67%;
    left: 50%;
    z-index: 2;
}

.right-mountain-2 {
    position: absolute;
    width: 78.125%;
    top: 63.89%;
    left: 70.833%;
    z-index: 3;
}

.left-mountain {
    position: absolute;
    width: 83.33%;
    top: 65%;
    left: 30%;
    z-index: 3;
}

.background-fog {
    position: absolute;
    width: 145.83%;
    top: 73.15%;
    left: 50%;
    z-index: 4;
}

.right-mountain-1 {
    position: absolute;
    width: 67.70%;
    top: 68%;
    left: 57.8125%;
    z-index: 5;
}

.blue-fog {
    position: absolute;
    width: 130.20%;
    top: 55%;
    left: 50%;
    z-index: 6;
}

.landing-text {
    position: absolute;
    z-index: 7;
    top: 36.11%;
    left: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    pointer-events: auto;
}

.landing-text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.landing-text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.front-mountain-left {
    position: absolute;
    width: 15.625%;
    top: 83%;
    left: 31.77%;
    z-index: 8;
}

.front-mountain-right {
    position: absolute;
    width: 15.625%;
    top: 64.8148%;
    left: 76.04167%;
    z-index: 9;
}

.bottom-shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

.top-fog {
    position: absolute;
    width: 145.833%;
    top: 40%;
    left: 50%;
    z-index: 11;
}

.sunray {
    position: absolute;
    width: 31.25%;
    top: 0;
    right: 0;
    z-index: 12;
    pointer-events: none;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}