/* Box Sizing/Normalizing Styles
--------------------------------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Typography
--------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

/* Header
--------------------------------------------- */
.main-header {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.site-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.site-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.site-nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0rem 1.5rem;
}

.site-nav a:hover {
    color: #7c7c7c;
}

.site-nav a:hover svg {
    fill: #7c7c7c;
}

.site-nav svg {
    fill: #fff;
}

.logo {
    font-size: 1.2rem;
    letter-spacing: 2px;
}