/* Variables
--------------------------------------------- */
:root {
    --main-color: #266EB0;
}

/* Box Sizing/Normalizing Styles
--------------------------------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Elements
--------------------------------------------- */
a {
    text-decoration: none;
}

/* Typography
--------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

h2, 
h3, 
h4 {
    color: #fff;
}

/* Header
--------------------------------------------- */
.main-header {
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    transition: background-color 0.3s ease 0.1s;
}

.show .main-header {
    background-color:  #353434df;
    transition: background-color 0.1s;
}

.main-header a {
    color: #fff;
    text-transform: uppercase;
}

.logo {
    margin: 0.8rem 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.logo:hover {
    color: #a9a9a9;
}

.btn-menu {
    background-color: transparent;
    border: none;
    margin: 0.8rem 1.5rem;
    cursor: pointer;
    fill: #fff;
}

.btn-menu:hover {
    fill: #a9a9a9;
}

.site-nav {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    position: absolute;
    top: 69px;
    left: 0;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
}

.show .site-nav {
    visibility: visible;
    height: 150px;
    background-color: #353434df;
    transition: height 0.3s ease;
}

.site-nav ul {
    text-align: center;
}

.site-nav a {
    padding: 1.5rem 0rem;
    display: block;
}

.site-nav a:hover {
    color: #353434;
    background-color: #a9a9a9;
} 

/* Media Queries */
@media(min-width: 50em) {
    .btn-menu {
        display: none;
    }

    .site-nav {
        visibility: visible;
        height: auto;
        width: auto;
        position: static;
    }

    .site-nav ul {
        display: flex;
        list-style: none;
    }

    .site-nav a {
        display: inline;
        padding: 0rem 1.5rem;
    }

    .site-nav a:hover {
        background-color: transparent;
        color: #a9a9a9;
    }
}

/* Main Styles
--------------------------------------------- */
main {
    height: 100vh;
}

/* Landing Section/3D Parallax Section
--------------------------------------------- */
.landing-section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #89c6e1;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
    transform: translateY(280%);
}

.bg-img {
    position: absolute;
    /* width: 145.83%;
    top: 61.11%; */
    width: 2800px;
    top: calc(50% + 200px);
    left: 50%;
    z-index: 1;
}

.background-fog-2 {
    position: absolute;
    /* width: 145.83%;
    top: 56.67%; */
    width: 2800px;
    top: calc(50% + 200px);
    left: 50%;
    z-index: 2;
}

.right-mountain-2 {
    position: absolute;
    width: 78.125%; 
    top: 63.89%;
    /* width: 1500px;
    top: calc(50% + 150px); */
    left: 70.833%;
    z-index: 3;
}

.left-mountain {
    position: absolute;
    width: 83.33%;
    top: 65%;
    left: 30%;
    z-index: 3;
}

.background-fog {
    position: absolute;
    width: 145.83%;
    top: 73.15%;
    /* width: 2800px;
    top: calc(50% + 250px); */
    left: 50%;
    z-index: 4;
}

.right-mountain-1 {
    position: absolute;
    width: 67.70%;
    top: 68%;
    left: 57.8125%;
    z-index: 5;
}

.blue-fog {
    position: absolute;
    width: 130.20%;
    top: 55%;
    left: 50%;
    z-index: 6;
}

.landing-text {
    position: absolute;
    z-index: 7;
    top: 32%;
    left: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    pointer-events: auto;
    width: 100%;
}

.landing-text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.landing-text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.front-mountain-left {
    position: absolute;
    width: 15.625%;
    top: 83%;
    left: 31.77%;
    z-index: 8;
}

.front-mountain-right {
    position: absolute;
    width: 15.625%;
    top: 70%;
    left: 76.04167%;
    z-index: 9;
}

.bottom-shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

.top-fog {
    position: absolute;
    width: 145.833%;
    top: 40%;
    left: 50%;
    z-index: 11;
}

.sunray {
    position: absolute;
    width: 31.25%;
    top: 0;
    right: 0;
    z-index: 12;
    pointer-events: none;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

/* Media Queries */
@media(max-width: 93.125em) {
    .landing-text h1 {
        font-size: 6.5rem;
    }

    .landing-text h2 {
        font-size: 5rem;
    }
}

@media(max-width: 81.25em) {
    .right-mountain-2 {
        top: 50%;
    }

    .left-mountain {
        top: 50%;
    }

    .background-fog {
        top: 65%;
    }

    .right-mountain-1 {
        top: 53%;
    }

    .right-mountain-2 {
        top: 55%;
        left: 80%;
    }

    .front-mountain-left {
        top: 53%;
    }

    .front-mountain-right {
        top: 55%;
    }
}

@media(max-width: 68.75em) {
    .landing-text h1 {
        font-size: 5.5rem;
    }

    .landing-text h2 {
        font-size: 4.5rem;
    }

    .landing-text {
        top: 42%;
    }
}

@media(max-width: 50em) {
    .landing-text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .landing-text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
    }

    .bg-img {
        width: initial;
        height: 233.328%;
    }

    .background-fog-2 {
        width: initial;
        height: 233.328%;
    }

    .right-mountain-2 {
        width: initial;
        height: 125%;
        top: 63.89%;
    }

    .left-mountain {
        width: initial;
        /* height: 133.328%; */
        height: 100%;
        top: 65%;
    }

    .background-fog {
        width: initial;
        height: 233.328%;
        top: 73.15%;
    }

    .right-mountain-1 {
        width: initial;
        /* height: 108.32%; */
        height: 95%;
        top: 68%;
    }

    .blue-fog {
        width: initial;
        height: 208.32%;
    }

    .front-mountain-left {
        width: initial;
        height: 60%;
        left: 15%;
        top: 80%;
    }

    .front-mountain-right {
        width: initial;
        height: 70%;
        top: 75%;
        left: 90vw;
    }

    .top-fog {
        width: initial;
        height: 233.3328%;
    }
}

@media(max-width: 32.5em) {
    .landing-text h1 {
        font-size: 3.3rem;
    }

    .landing-text h2 {
        font-size: 2.6rem;
    }
}

/* Hotels and Resorts Section
--------------------------------------------- */
.hotels-section {
    padding: 2rem 1.5rem;
    max-width: 1500px;
    margin: 0 auto;
}

.hotels-section h2 {
    font-size: 2rem;
    color: var(--main-color);
    text-transform: uppercase;
}

.hotel-card {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-card a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 35%, rgba(38,110,176,1) 100%);
}

.hotel-card:hover img {
    transform: scale(1.07);
    transition: transform 0.5s ease;
}

.hotel-card img {
    width: 200%;
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem;
}

.card-text h3 {
    font-weight: normal;
    text-transform: uppercase;
}

/* See More Link */
/* Adapted from https://codepen.io/nicoencarnacion/pen/XpaRQV */

.arrow-container {
    position: relative;
    width: 175px;
    margin-left: auto;
    margin-right: 0.5rem;
    overflow: hidden;
}

.arrow-left,
.arrow-right {
    width: 64px;
    transition: all 0.2s;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
}

.arrow-left .arrow-body,
.arrow-left .arrow-body::before,
.arrow-left .arrow-body::after {
    width: 0;
    background-color: #353434;
}

.arrow-left .arrow-body::before,
.arrow-left .arrow-body::after {
    transform: rotate(0);
}

.arrow-right .arrow-body {
    width: 64px;
    transition-delay: 0.2s;
}

.arrow-right .arrow-body::before,
.arrow-right .arrow-body::after {
    width: 10px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.arrow-right .arrow-body::before {
    transform: rotate(40deg);
}

.arrow-right .arrow-body::after {
    transform: rotate(-40deg);
}

.arrow-body {
    background-color: #353434;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.arrow-body::before, 
.arrow-body::after {
    background-color: #353434;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.arrow-body::before {
    transform-origin: top right;
}

.arrow-body::after {
    transform-origin: bottom right;
}

.see-more-link {
    color: var(--main-color);
    font-size: 1.2rem;
    display: inline-block;
    color: #353434;
    position: relative;
    transition: all 0.2s;
}

.see-more-link:hover {
    color: var(--main-color);
}

.see-more-link:hover .arrow-left .arrow-body {
    width: 64px;
    transition-delay: 0.1s;
    background-color: var(--main-color);
}

.see-more-link:hover .arrow-left .arrow-body::before,
.see-more-link:hover .arrow-left .arrow-body::after {
    width: 10px;
    transition-delay: 0.1s;
    background-color: var(--main-color);
}

.see-more-link:hover .arrow-left .arrow-body::before {
    transform: rotate(40deg);
}

.see-more-link:hover .arrow-left .arrow-body::after {
    transform: rotate(-40deg);
}

.see-more-link:hover .main-arrow {
    transform: translateX(80px)
}

.see-more-link:hover .arrow-right .arrow-body {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.see-more-link:hover .arrow-right .arrow-body::before,
.see-more-link:hover .arrow-right .arrow-body::after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
    transform: rotate(0)
}

.main-arrow {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.main-arrow .link-text {
    margin-right: 0.6rem;
}



@media(min-width: 50em) {
    .hotel-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 200px 350px;
        gap: 1rem;
        margin: 2rem 0rem;
    }

    .hotel-card {
        margin: 0rem;
        height: 100%;
    }

    .hotel-card img {
        width: auto;
        height: 100%;
    }

    .hotel-2 {
        height: 100%;
        grid-column: 1/3;
    }

    .hotel-2 img {
        width: 100%;
        height: auto;
    }

    .hotel-4 {
        height: 100%;
        grid-column: 3/4;
        grid-row: 1/3;
    }

}